#**Семинар №2**

Дата: 09.09.2022

Студент: Садыкова Диана

Группа: ПИ22-2

# Задание:

1. Напишите программу, которая получает информации о пользователе (имя, фамилию, возраст, город).

In [2]:
name = input("Введите Ваше имя: ")
surname = input("Введите Вашу фамилию: ")
age = int(input("Введите Ваш возраст: "))
city = input("Введите город проживания: ")

Введите Ваше имя: Диана
Введите Вашу фамилию: Садыкова
Введите Ваш возраст: 18
Введите город проживания: Москва

In [4]:
print("Привет,", name, surname + "!")
print()
print("Ваш профиль:")
print("Возраст:", age)
print("Город:", city)

Привет, Диана Садыкова!

Ваш профиль:
Возраст: 18
Город: Москва

2. Получить переменную, содержащую строку со значением равным двум в одиннадцатой степени и вывести ее на экран.

In [5]:
num = 2**11
print(num)

2048

3. Напишите программу, которая по данному числу N от 1 до 9 выводит на экран N пингвинов. Изображение одного пингвина имеет размер 5×9 символов, между двумя соседними пингвинами также имеется пустой (из пробелов) столбец. Разрешается вывести пустой столбец после последнего пингвина.

In [21]:
N = int(input())
part1 = ('~ ')
part2 = ("(o o) ")
part3 = ("/ V \ ")
part4 = ("/(_)\ ")
part5 = ("^^ ^^ ")
print(part1*N)
print(part2*N)
print(part3*N)
print(part4*N)
print(part5*N)

2
~ ~
(o o) (o o)
/ V \ / V \
/(_)\ /(_)\
^^ ^^ ^^ ^^

4. Программа получает на вход числа N и K — натуральные, не превышают 10000. N школьников делят K яблок поровну, не делящийся остаток остается в корзинке.


*   Сколько яблок достанется каждому школьнику? N школьников поделили K яблок поровну, не делящийся остаток остался в корзинке.
*   Сколько яблок осталось в корзинке?

In [31]:
N = int(input("Введите число школьников: "))
K = int(input("Введите число яблок: "))
print("Каждому школьнику достанется", K//N, "яблок(a)")
print("В корзинке осталось", K%N, "яблок(a)")

Введите число школьников: 50
Введите число яблок: 134
Каждому школьнику достанется 2 яблок(a)
В корзинке осталось 34 яблок(a)

5. Дано натуральное число. Выведите его последнюю цифру.

In [38]:
num = int(input())
print(num%10)

47538682
2